*{
	font-family: 'Open Sans', sans-serif;
}
.header {
  padding: 60px;
  background: #fff;
  color: white;
  border: 5px solid #800080;
}
nav{
	display: flex;
	align-items: center
}
nav img{
	width: 200px;
}

.nav-links{
	flex: 1;
	text-align: center;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;	
	font-size: 20px
}

a{
	color: #a9a9a9;
	background-color: transparent;
	text-decoration: none;
}

a:hover{
	color: #800080;
}

.footer-container{
	padding: 20px 3%;
	margin: 0;
	box-sizing: border-box;
	border: 5px solid #800080;
	color: #696969;
	display: flex;	
}


.footer-contect{
	flex: 1;	
}

.footer-contect h3{	
	text-align: center;	

}
.footer-social{
	flex: 6;
	text-align: center;
}

.footer-terms{	
	margin-top: 20px;
	text-align: center;
	align-items: center; 
	justify-content: center;
}

.socialImg{
	align-items: center;
}

.gallery h1{
	text-align: center;
	margin: 30px 0 50px;
	font-size: 3em;
	font-weight: bolder;
}

.galleryImg {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	margin: 30px 0 30px;
}
.img1{
	display: flex;
	flex-direction: column;
	width: 32.6%
}

.galleryImg img{
	width: 100%;
	padding-bottom: 15px;
	border-radius: 7px;
	filter: grayscale(90%);
	transition: 0.7s;
}

.gallery img:hover{
	filter: grayscale(0);
}

.button1 {
	background: purple;
	color: white;
	border-radius: 30px;
	padding: 15px 25px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin-left: 30%;
	border: 0.6vh solid white;
}
.tag {
	padding: 100px;
	font-size: 30px;
	width: 100px;
	margin: 5px 2px;
}
 


